body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #007bff, #00c6ff); /* Fondo degradado */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar verticalmente */
    min-height: 100vh; /* Usar toda la altura de la pantalla */
    color: #333; /* Color de texto oscuro para mejor contraste */
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

h2 {
    margin-bottom: 20px;
    color: #007bff; /* Color del título */
}

.input-group {
    margin-bottom: 15px;
    text-align: left; /* Alinear texto a la izquierda */
}

.input-group input,
.genero-container input,
.genero-container select {
    width: 100%; /* Ancho completo */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
    margin-bottom: 10px;
    font-size: 14px; /* Tamaño de fuente */
}

.genero-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.genero-container label {
    display: flex;
    align-items: center;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Color azul */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px; /* Tamaño de fuente */
}

button:hover {
    background-color: #0056b3; /* Color azul más oscuro */
}