body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #007bff, #00c6ff); /* Fondo degradado */
    margin: 0;
    padding: 0;
    color: white; /* Cambiar el color del texto a blanco para mejor contraste */
}

.header {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header .logo {
    height: 50px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header_content {
    text-align: center;
    margin: 20px 0;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}

#resultados {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    color: black; 
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
}