
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/planes.css' %}">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    <link rel="stylesheet" href="{% static 'css/regitrodeprofesores.css' %}">
    <link rel="stylesheet" href="{% static 'css/programas.css' %}">
    <link rel="stylesheet" href="{% static 'css/informacion.css' %}">
    

 

</head>

<body>
    
    <header class="header">
        <div class="menu continuar">
            <!-- Asegúrate de que la ruta del logo sea correcta -->
            <img src="{% static 'logo.jpg' %}" alt="Comunidad Educativa" class="logo">
            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'registro' %}" tarj>Registrarte</a></li>
                    <li><a href="{% url 'inicio Sesion' %}">Inicio Sesion</a></li>
                    <li><a href="https://wa.me/3112445775">Contacto</a></li>
                    <li><a href="{% url 'planes' %}">Planes</a></li>
                   
                </ul>
            </nav>
        </div>
        <div class="header_content container">
            <p>Bienvenido a Comunidad Educativa, tu plataforma ideal para aprender  de manera efectiva y divertida. Aquí encontrarás recursos interactivos, lecciones personalizadas y mucho más.</p>
        </div>
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Buscar...">
            <button onclick="buscar()">Buscar</button>
        </div>
        <div id="resultados"></div>
    </header>

    <!-- Bloque de contenido dinámico -->
    
   

    <script>
        function buscar() {
            // Lógica para realizar la búsqueda
            const searchTerm = document.getElementById('searchInput').value;
            const resultados = document.getElementById('resultados');
            resultados.innerHTML = `<p>Resultados para: ${searchTerm}</p>`;
        }
    </script>
   
{% block content %}{% endblock %}



</body>
</html>