{% extends "base.html" %}
{%load static%}
{% block content %}

<section class="informacion_1">
    <h2>Información Adicional</h2>
    <div class="info_circle">
        <div class="circle_txt">
            <div class="circle_1"></div>
            <p>En un mundo cada vez más globalizado e interconectado, el aprendizaje de idiomas se ha convertido en una habilidad esencial. Dominar más de una lengua no solo abre puertas a nuevas oportunidades laborales, sino que también enriquece la comprensión cultural y mejora las capacidades cognitivas. La capacidad de comunicarse en diferentes idiomas facilita los viajes y las experiencias internacionales, permitiendo interacciones más profundas y significativas con personas de diversas culturas.</p>
        </div>
    </div>
</section>

<section class="nuestro_equipo container">
    <h2>Nuestro Equipo</h2>
    <div class="equipo_info">
        <img src="nuestroequipo.png" alt="Nuestro equipo de instructores">
        <p>Nuestros instructores son hablantes nativos con experiencia en la enseñanza del español como segundo idioma.</p>
    </div>
</section>

<section class="testimonios">
    <h3>Testimonios</h3>
    <div class="testimonio_item">
        <img src="{% static 'textimonio.png' %}" alt="Testimonio de estudiante">
        <h4>"Gracias a Español Fácil, he mejorado significativamente mi español. ¡Recomiendo esta plataforma a todos!" - Estudiante Satisfecho</h4>
    </div>
</section>

