{% extends "base.html" %}
{% load static %}

{% block title %}Recuperar Contraseña - Comunidad Educativa{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/inicioSesion.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Recuperar Contraseña</h2>
    <form id="recoveryForm" method="POST" action="{% url 'recuperar_contrasena' %}">
        {% csrf_token %}
        <fieldset>
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="Correo electrónico" required>
                <i class="fas fa-envelope"></i>
            </div>
            <button type="submit">Enviar instrucciones</button>
        </fieldset>
    </form>
    <div id="error-message">
        {% if messages %}
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="links">
        <a href="{% url 'inicioSesion' %}">Volver a iniciar sesión</a>
    </div>
</div>
{% endblock %}