{% extends "base.html" %}
{% load static %}

{% block title %}Sobre Nosotros - Comunidad Educativa{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Bienvenido a Comunidad Educativa</h1>
    <p>Tu plataforma para el aprendizaje de idiomas</p>
</div>
<div style="text-align: center; padding: 20px;">
    <div class="info-section">
        <h3>MISIÓN</h3>
        <p>Facilitar el aprendizaje de idiomas de manera efectiva, divertida y accesible para personas de todo el mundo. Nuestra misión es romper las barreras lingüísticas y culturales, empoderando a nuestros usuarios para que se comuniquen con confianza, exploren nuevas culturas y alcancen sus metas personales y profesionales a través del dominio de idiomas.</p>
    </div>

    <div class="info-section">
        <h3>VISIÓN</h3>
        <p>Ser la plataforma líder en el mundo para el aprendizaje de idiomas, conectando a personas de diferentes culturas a través de una experiencia de aprendizaje personalizada, interactiva y accesible. Queremos empoderar a nuestros usuarios para que dominen nuevos idiomas de manera eficiente, divertida y significativa, rompiendo barreras lingüísticas y fomentando la comprensión global.</p>
    </div>

    <div class="info-section">
        <h3>¿QUIÉNES SOMOS?</h3>
        <p>Somos un equipo apasionado por los idiomas, la tecnología y la conexión humana. En Comunidad Educativa, creemos que el aprendizaje de idiomas es mucho más que memorizar palabras y reglas gramaticales; es una puerta hacia nuevas oportunidades, culturas y amistades en todo el mundo.</p>
    </div>
</div>
{% endblock %}